html, body {
  background: hotpink;
  text-align: center;
}

button {
  margin: 75px;
}

button:hover {
  background: cyan;
  color: hotpink;
}

.clicked {
  width: 150px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background: white;
  border: 1px solid cyan;
}